html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(19, 19, 19);
}

body {
    margin: 0;
    font-family: 'Red Hat Mono', monospace;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

#particles {
    width: 100%;
    height: 100%;
    background-size: 20%;
    background-position: 50% 50%;
    position: fixed;
    z-index: 0;
    animation: appear 0.75s ease-in-out 0s 1 alternate;
    -webkit-animation: appear 0.75s ease-in-out 0s 1 alternate;
    -moz-animation: appear 0.75s ease-in-out 0s 1 alternate;;
}

img.emoji {
    width: 1em;
    pointer-events: none;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.container {
    z-index: 2;
    margin: auto;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.349);
    background-color:rgba(14, 14, 14, 0.884);
    transition: padding 0.25s ease-out 0.1s, font-size 0.25s ease-out 0.1s;
    border-bottom: 4px solid rgba(41, 41, 41, 0.651);
    display: flex;
    flex-direction: row;
    font-size: 40px;
    color: white;
    width: 950px;
    height: 600px;
    border-radius: 5px;
}

.bio {
    color: white;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgba(41, 41, 41, 0.267);
    width: 450px;
}

.info {
    width: 550px;
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.info div {
    color: rgba(255, 14, 46, 0.959);
    font-weight: bold;
}

.info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info li {
    margin: 20px 0;
    vertical-align: middle;
    line-height: 70px;
    height: 70px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.466);
}

.info li::before {
    font-weight: normal;
    vertical-align: middle;
    content:"•";
    color: rgba(255, 255, 255, 0.116);
    font-size: 100px;
}

.description {
    transition: all 0.25s ease-out 0.1s;
    font-size: 18px;
    font-weight: normal;
    flex-grow: 1;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.description li {
    list-style: none;
}

.description li::before {
    content: "#";
    color: rgba(255, 14, 46, 0.959);
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px;
    line-height: 25px;
}

.pfp {
    display: block;
    width: 155px;
    margin: 5px auto;
    border-radius: 100%;
    transition: all 0.3s ease-out;
    border: 6px solid transparent;
    z-index: 10;
    box-shadow: 0 0 200px 0.5px rgba(255, 14, 46, 0.329);
    border: 6px solid rgba(255, 14, 46, 0.096);
}

.pfp:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0 0 200px 30px rgba(255, 14, 46);
    border: 6px solid rgba(255, 14, 46);
}

.name {
    color: #ff0e2e;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flags {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.social {
    padding: 0;
    margin: 0;
    flex-grow: 3;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.social li {
    width: 50px;
    height: 50px;   
}

.button {
    background-color: #ffffff15;
    transition: all 0.1s ease-out;
    border-bottom: 4px solid rgba(255, 255, 255, 0.116);
    border-radius: 5px;
}

.button:hover {
    color: rgba(255, 14, 46, 0.959);
    border-bottom: 4px solid rgba(255, 14, 46, 0.959);
    background-color: #ffffff33;
    font-weight: bolder;
}

.button:hover::before {
    color: rgba(255, 14, 46, 0.959);
}


.social img {
    padding: 10px;
    width: 30px;
    display: block;
}
